<body>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>HTMLPAGE.CN
    </title>
    <div class="content-wrapper">
      <header class="wrapper bg-light">
        <nav class="navbar navbar-expand-lg center-nav transparent navbar-light">
          <!-- /.container -->
        </nav>
        <!-- /.navbar -->
      </header>
      <!-- /header -->
      <section class="wrapper bg-light">
        <div class="container pt-12 pt-md-14 pb-14 pb-md-16">
          <div class="row">
            <div class="col-lg-9 col-xl-8 mx-auto">
              <figure class="mb-10">
              </figure>
            </div>
            <!-- /column -->
            <div class="col-lg-8 col-xl-7 col-xxl-6 mx-auto text-center" style="display: grid; place-items: center; height: 300px;">
              <h1 class="mb-3">
                <span id="i8pqys" class="c13375">(⊙o⊙) </span>
                <span id="ig7o4m" class="c13393">Hello Argo CD actions!  </span>(⊙o⊙) 
              </h1>
            </div>
            <!-- /column -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </section>
      <!-- /section -->
    </div>
    <!-- /.content-wrapper -->
    <script src="https://coscdn.htmlpage.cn/sandbox/assets/js/plugins.js"></script>
    <script src="https://coscdn.htmlpage.cn/sandbox/assets/js/theme.js"></script>
  </body>